.scrolling-container {
    animation: scroll-images 10s linear infinite;
  }
  
  @keyframes scroll-images {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  